<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AlibbMain-20150205100718.mdf;Initial Catalog=aspnet-AlibbMain-20150205100718;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="albb_web" connectionString="Server =192.168.1.18; Database =alibb_tm;character set=utf8; uid=root; pwd =amituofo; Pooling=true; Max Pool Size=5;Min Pool Size=2;Allow Batch=true;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="albb_web" connectionString="Server =127.0.0.1; Database =alibb_tm;character set=utf8; uid=root; pwd =; Pooling=true; Max Pool Size=5;Min Pool Size=2;Allow Batch=true;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>